.list-group-item {
  line-height: 2.5;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url("../images/mainpage1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* profile.html */

.profilebody {
  background: transparent;
}

.card {
  display:inline-block;
  padding: 10px;
  margin: 5px;
}

.recipe-row .card {
  /* margin-left: 30px;
  margin-right: 30px; */
  width: 100%;
  height: 50%;
}

#space {
  padding: 0px !important;
  border: 0px !important;
  background-color: transparent !important;
}

.secondRow {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  color: black;
}

#gap {
  height: 10%;
}

#mapspace {
  padding: 0px !important;
  border: 0px !important;
  background-color: blue !important;
  width: 30% !important;
}

.map {
  margin-left: 3% !important;
  margin-right: 2% !important;
  height: 400px !important;
}

.grocery {
  height: 400px !important;
  margin-right: 2% !important;
}

.recipe-row {
  max-height: 50%;
}

.recipeTitle{
  font-size: 12px;
}

.card-body {
  padding: 0px;
  margin-top: 10px;
}

.profileHtml {
  background: url("../images/eggplant.jpg") no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}