body{
  background-color: #d6e3fe;
  font-family:  'Oswald', sans-serif;
}
#recipes {
  margin-bottom:30px;
}

#form1{
  color: rgb(15, 97, 15);
  background-color: #fef5ef;
  border-radius: 10px;
  margin-top:50px;
}

.card {
  display: inline-block;
  margin:20px;
  overflow: hidden;
  text-overflow: ellipsis;
  height:450px;
  background-color:#fef5ef;
  width:32rem;
}

#recipes {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top:15px;
}

.card-img-top {
  height:295px;
}
.card-title {
  margin-top:7px;
  margin-left:5px;
}

.recipeGroceries {
  background: pink;
}

.recipeName {
  font-weight: bold
}