.list-group-item {
  line-height: 2.5;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url("../images/mainpage1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: -ms-flexbox;
  /* display: flex; */
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* profile.html */

.profilebody {
  background: transparent;
}

.card {
  display:inline-block;
  padding: 8px;
  margin: 2px;
  position: relative;
  /* background-color: rgba(255, 255, 255, .5) !important; */
  background-color: rgb(245, 245, 245, 0.7) !important;
  text-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.recipecards {
  background-color: transparent !important;
}

.recipe-row {
  /* margin-left: 30px;
  margin-right: 30px; */
  width: 100%;
  height: 50%;
  display: inline-block;
}

#space {
  padding: 0px !important;
  border: 0px !important;
  background-color: transparent !important;
}

#secondRow {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  color: black !important;
  height: 350px !important;
}

#gap {
  height: 70px;
}

.map {
  margin-left: 5% !important;
  margin-right: 2% !important;
}

.grocery {
  margin-right: 2% !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
}

.recipe-row {
  max-height: 50%;
}

.recipeTitle{
  font-size: 14px;
}

.card-body {
  padding: 0px;
  margin-top: 10px;
}

.profileHtml {
  background: url("../images/profilebackground.jpg") no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-img-top {
  max-width:100%;
  height: 250px !important;
  object-fit: cover;  
}

.recipeDesc {
  font-size: 12px;
}

.recbuttontext {
  font-size: 12px;
  padding: 3px;
  font-size: 10px;
}

.meal {
  overflow: auto;
  height: 300px;
}

h6 {
  color: white;
  background: rgba(105, 105, 105, .5);
  text-align: center;
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: .25rem!important;
}

#recipes {
  background: transparent !important;
  border-color: transparent;
  height: 370px !important;
  background-size: cover;
}

.recipeName {
  text-align: center;
}

.recDiv {
  background: red;
}

h4 {
  color: black !important;
  font-size: 10px;
}

h3 {
  color: black !important;
}

.groceries {
  background: rgba(105, 105, 105, .5);
  border-radius: .25rem!important;
  padding: 10px;
  margin-bottom: 20px;
}

.ingredient {
  font-size: 0.8rem;
  text-shadow: none;
}

.urlbtn {
  background-color: rgb(128, 0, 0, 0.55);
  padding: 3px;
  font-size: 10px;
}
.jumbotron{
  background-color: rgba(128, 128, 128, .9) !important
}